---
interface Props {
    book: {
        id: string,
        slug: string,
        body?: string,
        collection: "books",
        [key: string]: any 
    }
}

const { book } = Astro.props

---

<li>
    <a href={'/books/' + book.slug}>
        <h3>{book.data.title}</h3>
    </a>
    <p>{book.data.author}</p>
    <img src={'books/'+book.data.img} alt={book.data.title} />
    <p>{book.data.description}</p>
</li>

<style>
    li {
        margin-bottom: 1rem;
        padding: 1rem;
        border: 1px solid #f0f0f0;
    }

    img {
        max-width: 100%;
    }
    p:nth-of-type(2) {
        color: #333;
    }